.image-placeholder {
    width: 100%;
    height: 400px; /* Ajustez la hauteur selon vos besoins */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc; /* Bordure pour le style */
    color: #999; /* Couleur du texte */
  }
  