body{background-color: lavender;
    ;}
    .google-icon {
        color: #DB4437;
      }
      .facebook-icon {
        color: #4267B2;
      }
      .twitter-icon {
        color: #1DA1F2;
      }

      
      