/* Style de la top-bar */
.top-bar {
  background-color: #ffffff; /* Couleur de fond blanche */
  color: #000; /* Couleur du texte noir */
  height: 97px;
}

.logo-img {
  max-width: 200px; /* Largeur maximale de l'image du logo */
  height: auto; /* Hauteur automatique pour garder le ratio */
  margin: -50px;
}

/* Style de la barre de navigation */
.navbar {
  background-color: #000; /* Couleur de fond noire */
  height: 60px;
  display: flex; /* Utilise Flexbox */
  justify-content: space-between; /* Espace entre les éléments */
  align-items: center; /* Centre verticalement */
}

.navbar .nav-link {
  color: #fff; /* Couleur du texte des liens en blanc */
  margin: 20px;
}



/* Espacement entre les icônes et le texte dans la top-bar */
.top-bar i {
  margin-right: 40px;
}
/* Style de la top-bar */
.top-bar {
  background-color: #ffffff; /* Couleur de fond blanche */
  color: #000; /* Couleur du texte noir */
  height: 97px;
}

.logo-img {
 /* Largeur maximale de l'image du logo */
  height: 200px; /* Hauteur automatique pour garder le ratio */
  margin: -46px; /* Ajuste la position du logo */

}

/* Style de la barre de navigation */
.navbar {
  background-color: #000; /* Couleur de fond noire */
  height: 60px;
}

.navbar .nav-link {
  color: #fff; /* Couleur du texte des liens en blanc */
  margin: 20px; /* Espacement autour des liens */
}

/* Ajout d'un style pour le bouton */
.navbar .btn {
  margin-left: auto; /* Force le bouton à la droite */
}

/* Espacement entre les icônes et le texte dans la top-bar */
.top-bar i {
  margin-right: 40px;
}
.header-title{
display: 'flex'; justify-Content: 'center'; align-Items: 'center';height: '100vh';
}


