.logo-img {
  max-width: 200px; /* Largeur maximale de l'image du logo */
  height: auto; /* Hauteur automatique pour garder le ratio */
  margin: -50px;
  margin-left: -120px
}

/* Style de la barre de navigation */
.navbar {
  background-color: #000; /* Couleur de fond noire */
  height: 60px;
  display: flex; /* Utilise Flexbox */
  justify-content: space-between; /* Espace entre les éléments */
  align-items: center; /* Centre verticalement */
}

.navbar .nav-link {
  color: #fff; /* Couleur du texte des liens en blanc */
  margin: 20px;
}



/* Espacement entre les icônes et le texte dans la top-bar */
.top-bar i {
  margin-right: 40px;
}
/* Style de la top-bar */
.top-bar {
  background-color: #ffffff; /* Couleur de fond blanche */
  color: #000; /* Couleur du texte noir */
  height: 100%;
}

/* Style de la barre de navigation */
.navbar {
  background-color: #000; /* Couleur de fond noire */
  height: 60px;
}

.navbar .nav-link {
  color: #fff; /* Couleur du texte des liens en blanc */
  margin: 20px; /* Espacement autour des liens */
}
/* Ajout d'un style pour le bouton */
.navbar .btn {
  margin-left: auto; /* Force le bouton à la droite */
}

/* Espacement entre les icônes et le texte dans la top-bar */
.top-bar i {
  margin-right: 40px;
}
.header-title{
display:flex; 
justify-Content: center; 
align-Items: center;
}

.btn img {
  height: 100px;
  margin-right: -18px;
  margin-bottom: 10px;
}
#panier-btn{
  font-size: 19px;
  margin-left: 35px;
}
#connecter-btn{
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #F9A825;

}